.container {
    margin: 20px auto;
    max-width: 600px;
}

.container-fluid:nth-of-type(2) {
    max-width: 600px;
}

.form-control {
    margin-bottom: 15px;
}

h1 {
    font-size: 20px;
    color: seagreen;
    padding: 5px;
}

.btn {
    width: 70px;
}

button[id="submit-button"] {
    width: 120px;
}

button[id="logout-button"] {
    width: auto;
}

.btn-sm {
    padding: .1px;
}

button[id="premium-button"] {
    width: auto;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.error-message {
    font-size: small;
}

.table {
    width: 100%;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    text-align: left;
    font-weight: normal;
}

.table td {
    border: 1px solid #ddd;
}