.container {
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    background-color: #454d55;
}

.container-fluid:nth-of-type(2) {
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    background-color: #454d55;
}

body {
    background-color: #343a40;
}

#submit-button {
    width: 100%;
}

#logout-button {
    width: auto;
}

.btn-sm {
    width: 40%;
    padding: .1px;
    border: none;
    background-color: #212529;
    color: white;
}

#premium {
    margin-right: 30px;
    color: white;
}

.error-message {
    font-size: small;
    margin-top: 10px;
}

.navbar {
    background-color: #454d55;
}

#logo {
    color: orange;
    font-weight: bold;
}

.table th {
    background-color: #343a40;
    color: white;
}

.table td {
    background-color: #454d55;
    color: white;
}

th:nth-child(1),
td:nth-child(1) {
    width: 20%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 20%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 20%;
    text-align: right;
}

.table th:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.table th:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}