/* containers */
.container {
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    background-color: #354152;
}

/* body */
body {
    background-color: #2c303a;
}

/* headings */
h2 {
    text-align: center;
    color: #7e8ba3;
    margin-right: 40px;
}

/* nav bar */
#premium {
    margin-right: 30px;
    color: white;
}

.navbar {
    background-color: #354152;
}

#logo {
    color: #198754;
    font-weight: bold;
}

#logout-button {
    width: auto;
}

/* table */
.table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.table th {
    background-color: #2c303a;
    color: #7e8ba3;
    width: 150px;
}

.table td {
    background-color: #2c303a;
    color: white;
    width: 150px;
}