.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    background-color: #454d55;
}

body {
    background-color: #343a40;
}

button {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: orange;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: lightgray;
}

p {
    text-align: center;
    margin-top: 10px;
    color: lightgray;
}

a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    font-size: small;
    margin-bottom: 20px;
}